// @import '../theme/black.css';

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Montserrat|Red+Hat+Text&display=swap');

$android-green: #A0C237;
$fucsia-amaranth: #EF2D56;
$grey: #363537;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $grey;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 2.5em;
$mainFont: 'Red Hat Text', sans-serif;
$headingFont: 'Monserrat', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: $android-green;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
  h2 {
    // position: relative;
    text-decoration: underline;
    -webkit-text-decoration-color: $fucsia-amaranth; /* Safari */  
    text-decoration-color: $fucsia-amaranth;
  }
  // h2::after {
  //   width: 100%;
  //   height: 1em;
  //   position: absolute;
  //   content: "_";
  //   background-color: $fucsia-amaranth;
  // }
  section {
    &.has-light-background {
      &, h1, h2, h3, h4, h5, h6 {
        color: #222;
      }
    }

    ul {
      display: initial;
    }
    li {
      margin-left: 0;
    }

    img {
      background: none;
      border: none;
      box-shadow: none;
    }
    div.img-container {
      position: relative;
      img {
        top: 0;
        left: 0;
        position: absolute;
      }
    }
  }
}
